.section {
   padding: 0 10% 0 10%;
}

.section-header {
   background-color: gray;
   height: 65px;
}

.navbar {
   display: flex;
   align-items: center;
}

.logo-container {
   font-size: 12px;
   display: flex;
   justify-content: flex-start;
   flex: 1 1 30%;
   color: white;
}

.links-container {
   font-size: 10px;
   display: flex;
   justify-content: flex-end;
   gap: 2%;
   flex: 1 1 30%;
   color: white;
}

.section-hero {
   background-color: gray;
   height: 400px;
   display: flex;
   flex-direction: row;
   justify-content: center;
}

.hero-text {
   flex: 1 1 30%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   gap: 5px;
}

.hero-text h2,
.hero-text p,
.hero-text button {
   margin: 0;
   margin-right: 20px;
}

button {
   padding: 5px 20px;
   border-radius: 7px;
}

.hero-img {
   flex: 1 1 30%;
   display:flex;
   justify-content: center;
   align-items: center;
}

.hero-img img{
   margin: 5% 0;
}

.section-info {
   height: 400px;
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.info-container {
   padding: 0 20% 0 20%;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 3%;
}

.info-cards {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
}

.info-cards div {
   border-radius: 10%;
   border: solid black;
   padding: 30%;
}

.info-cards p {
   margin: 2%;
   text-align: center;;
}

.section-quote {
   height: 400px;
   display: flex;
}

.quote-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-end;
   padding: 10% 20%;
}

.quote-container p {
   margin: 0;
}

.section-signup {
   height: 400px;
   display: flex;
   justify-content: center;
}

.signup-container {
   margin: 10% 0;
   width:100%;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
}

.signup-text *{
   margin: 0;
}
/*
.signup-btn {

}
*/
.section-footer {
   height: 60px;
   text-align: center;
}