body {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: stretch;
   margin: 0;
}

.section {
   padding: 0 10% 0 10%;
}

.section-header {
   background-color: #1f2937;
   height: 85px;
}

.navbar {
   background-color: #1f2937;
   display: flex;
   align-items: center;
}

.logo-container {
   color: #f9faf8;
   font-size: 20px;
   display: flex;
   justify-content: flex-start;
   flex: 1 1 30%;
}

.links-container {
   display: flex;
   justify-content: flex-end;
   gap: 2%;
   flex: 1 1 30%;
}

.links-container a{
   font-size: 18px;
   text-decoration: none;
   color: #e5e7eb;
}

.section-hero {
   background-color: #1f2937;
   height: 500px;
   display: flex;
   flex-direction: row;
   justify-content: center;
}

.hero-text {
   flex: 1 1 30%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
}

.hero-text h2,
.hero-text p,
.hero-text button {
   margin: 0 20px 20px 0;
}

.hero-text h2 {
   color: #f9faf8;
   font-size: 48px;
}

.hero-text  {
   color: #e5e7eb;
   font-size: 18px;
}

button {
   background-color:#3882f6;
   color: #f9faf8;
   font-size: 18px;
   font-weight: bold;
   padding: 5px 20px;
   border: 2px solid #f9faf8;
   border-radius: 7px;
}

.hero-img {
   flex: 1 1 30%;
   display:flex;
   justify-content: center;
   align-items: center;
}

.hero-img img{
   margin: 5% 0;
}

.section-info {
   color: #1f2937;
   font-size: 36px;
   font-weight: bolder;
   height: 500px;
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.info-container {
   padding: 0 20% 0 20%;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 3%;
}

.info-cards {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
}

.info-cards div {
   border-radius: 10%;
   border: 2px solid #3882f6;
   padding: 30%;
}

.info-cards p {
   color:#1f2937;
   font-size: 18px;
   font-weight: lighter;
   margin: 2%;
   text-align: center;;
}

.section-quote {
   background-color: #e5e7eb;
   height: 500px;
   display: flex;
}

.quote-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-end;
   padding: 10% 20%;
}

.quote-container p {
   margin: 0;
}

.quote {
   color: #1f2937;
   font-size: 36px;
   font-weight: lighter;
   font-style: italic;
}

.author {
   color: #1f2937;
   font-size: 18px;
   font-weight: bold;
}

.section-signup {
   height: 500px;
   display: flex;
   justify-content: center;
}

.signup-container {
   background-color: #3882f6;
   color: #f9faf8;
   margin: 10% 0;
   width:100%;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
}

.signup-text *{
   margin: 0;
}

.signup-text h2 {
   font-size: 18px;
   font-weight: bold;
}

.signup-text p {
   font-size: 18px;
   font-weight: lighter;
}

.section-footer {
   background-color: #1f2937;
   color: #e5e7eb;
   font-size: 18px;
   height: 60px;
   text-align: center;
}